body{

}
.character-container{
margin-top:10px;
display: flex;
flex-direction: column;
border: 2px solid rgb(202, 202, 205);
width:auto;
height: auto;
text-shadow: 0px 2px 20px rgb(220, 220, 220);
  box-shadow: 0px 10px 30px rgba(255, 255, 255, 0.365);
}

.character-name{
    font-size: 2em;
    margin-left: 5px;
}

.character-specs-list{
  font-size: 1em;
}

.page-buttons{
  margin: 10px 0;
 display: flex;
 justify-content: space-evenly;
}
button{
  background: none;
  color: rgb(255, 221, 25);
}

button:hover{
  color: rgb(255, 0, 0);
}
.spinner{
  display: flex;
justify-content: center;
}

.info-btn{
  margin-top: 5px;
  font-size: .75em;
  background: transparent;
}
