body{
    overflow: hidden;
    background-color:black;
    color: rgb(255, 221, 25);
    background-image:url('/images/starbackground.jpeg');
}
 
.wrapper{
    display: flex;
    perspective: 500px;
    height: 100%;
    width: 98%;
    margin: 0 auto;
    padding-top:200px;
}

.wrapper::after{
    content: '';
    position: fixed;
    top: -20px;
    width: 100%;
    height: 5%;
    background: linear-gradient(180deg, rgb(0, 0, 0)40%, rgba(0, 0, 0, 0) 100%);
}
.crawl{
    margin: 50% 0 0 0;
    color: #ffc909; 
    font-size:5vw;
    line-height: 1.5em;
    font-weight: bold;
    text-align: justify;
    position: relative;
    animation: scroll 250s linear infinite;
    transform: rotateX(60deg); 
}

@keyframes scroll {
    from {top: 0; transform: translateZ(0) rotateX(10deg) }
    to {top:-9500px; transform: translateZ(-1000px) rotateX(30deg)}
} 

.crawl-sections{
    padding-bottom: 60px;
}

.opening-title{
    text-align: center;
    font-size: 10vw;
    padding-bottom: 50px;
}

