nav{
    display: flex;
    background-color: rgb(77, 79, 79);
    color:white;
    font-size: 1.5em;
    height: 60px;
    align-items: center;
    justify-content: space-around;
}

button{
    border: none;
    color: white;
    font-size: 1em;
    background: none;
    margin-left: 20px;
}
button:hover{
    color:yellow;
}