.nav-bar{
    position: sticky;
    top:0px;
    height: auto;
    font-size: 1em;
    margin-bottom: 10px;
}

.swapi{
    font-size:.75em;
}

.dummies{
    font-size: 10px;
    margin-right: 20px;
    margin-left: 5%;
}

.star-wars{
    font-size: 1.5em;
    margin-left:5%;
}

.drop-down{
    background-color: rgba(171, 171, 171, 0.892);
    width: 20px;
 
}